/* altura e largura */
.altLar {
    width: 80%; /* largura */
    height: 150px; /* altura */
    min-width: none;
    max-width: none;
    min-height: none;
    max-height: none;
}

/* overflow */
.OFhidden {
    overflow: hidden; /* oculta conteúdo que não cabe na caixa */
}

.OFscroll {
    overflow: scroll; /* adiciona barra de rolagem */
}

.OFauto {
    overflow: auto; /* adiciona barra de rolagem se necessário */
}

/* border-width*/
.borderWidth {
    border-width: 5px; /* define o tamanho de todos os lados da borda */
    border-style: solid;
}

/* border-style */
.borderStyle {
    border-style: dotted; /* define o estilo de todos os lados da borda */
}

/* tipos de borda */
.dotted {
    border-style: dotted;
}

.dashed {
    border-style: dashed;
}

.solid {
    border-style: solid;
}

.double {
    border-style: double;
}

.groove {
    border-style: groove;
}

.ridge {
    border-style: ridge;
}

.inset {
    border-style: inset;
}

.outset {
    border-style: outset;
}

/* border-color */
.borderColor {
    border-color: brown;
    border-style: solid;
}

/* três propriedades juntas */
.borderTudo {
    border: 1px solid black;
}

/* preenchimento */
.padding {
    padding: 5px 4px;
}

/* margem */
.margin {
    margin: 20px;
}

/* sombras */
.boxShadow {
    box-shadow: 2px 2px 10px green;
}

/* cantos arredondados */
.borderRadius {
    border-radius: 2px;
}

/* box-sizing */
.contentBox {
    box-sizing: content-box;
}

.borderBox {
    box-sizing: border-box;
}

/* posição dos elementos */
.pStatic {
    position: static;
}

.pRelative {
    position: relative;
}

.pAbsolute {
    position: absolute;
}

.pFixed {
    position: fixed;
}

/* elementos flutuantes */
.float {
    float: left;
}

.clear {
    clear: both;
}